<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working</title>
</head>
<body>
    <h1>Welcome to the text analyzer. Enter your test below </h1>
    <!-- {{name}} age {{age}} -->
    <form action ='/analyze' method="get">
        <textarea name="text" style="margin: 0px ; width: 721px; height: 93px;"></textarea>
        <br>

        <input type="checkbox" name="analyze"> Remove Punctuations <br>
        <button type="submit">Analyze Text</button>
    </form>
</body>
</html>